@main("Test Bar Chart") {

        <style>
            .accueil-physique {
                fill: #98abc5;
            }

            .accueil-téléphonique {
                fill: #8a89a6;
            }

            .locaux {
                fill: #7b6888;
            }

            .message-téléphonique {
                fill: #6b486b;
            }

            .prestation {
                fill: #a05d56;
            }

            .site-internet {
                fill: #d0743c;
            }

            .bar:hover {
                fill: brown;
            }

            .axis {
                font: 10px sans-serif;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .x.axis path {
                display: none;
            }

            .title {
                font-size: 16px;
                text-decoration: underline;
            }

            .legend {
                font : 10px sans-serif;
            }

            div.tooltip {
                position: absolute;
                text-align: center;
                width: 60px;
                height: 28px;
                padding: 2px;
                font: 12px sans-serif;
                background: lightsteelblue;
                border: 0px;
                border-radius: 8px;
                pointer-events: none;
            }

        </style>

        <script>

            function channelToClass(channel) {
              return channel.toLowerCase().replace(" ", "-");
            };

            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            var margin = {top: 30, right: 120, bottom: 150, left: 40},
                width = 960 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);
            var y = d3.scale.linear().range([height, 0]);
            var color = d3.scale.ordinal()
                .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c"]);

            var xAxis = d3.svg.axis().scale(x).orient("bottom");
            var yAxis = d3.svg.axis().scale(y).orient("left");

            var svg = d3.select("body").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("@routes.Application.testBarChartJson", function(error, initialData) {
              var data = initialData[0];
              // to ensure values are read as numeric ones ?
              data.forEach(function(d) {
                  d.value = +d.value;
              });

              // get a list of unique channels
              var channels = [];
              data.forEach(function(el) {
                channels.push(el.channel);
              });
              var uniqueChannels = channels.filter(function(value,index,self) {
                return self.indexOf(value) === index;
              });

              x.domain(data.map(function(d) { return d.channel + "-" + d.criteria; }));
              y.domain([0, d3.max(data, function(d) { return d.value; })]);

              svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(xAxis)
                  // rotate text so that long labels can be viewed on the axis
                  .selectAll("text")
                    .style("text-anchor", "end")
                    .attr("dx", "-.8em")
                    .attr("dy", ".15em")
                    .attr("transform", function(d) {
                        return "rotate(-65)"
                    });

              svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                .append("text")
                  .attr("y", -10)
                  .attr("x", -10)
                  .text("Insatisfaits");

              svg.selectAll(".bar")
                  .data(data)
                .enter().append("rect")
                  .attr("class", function(d) { return "bar " + channelToClass(d.channel); })
                  .attr("x", function(d) { return x(d.channel + "-" + d.criteria); })
                  .attr("width", x.rangeBand())
                  .attr("y", function(d) { return y(d.value); })
                  .attr("height", function(d) { return height - y(d.value); })
                  .on("mouseover", function(d) {
                    div.transition()
                       .duration(200)
                       .style("opacity", .9);
                    div.html(d.value)
                       .style("left", (d3.event.pageX) + "px")
                       .style("top", (d3.event.pageY - 28) + "px");
                    })
                  .on("mouseout", function(d) {
                    div.transition()
                       .duration(500)
                       .style("opacity", 0);
                    });

              svg.append("text")
                  .attr("x", (width / 2))
                  .attr("y", 0 - (margin.top / 2))
                  .attr("class", "title")
                  .attr("text-anchor", "middle")
                  .text("Insatisfaction par canal et critère");

              var legend = svg.selectAll(".legend")
                    .data(uniqueChannels)
                  .enter().append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

              legend.append("rect")
                .attr("x", width + margin.right - 18)
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", color);

              legend.append("text")
                .attr("x", width + margin.right - 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("text-anchor", "end")
                .text(function(d) { return d; });
            });
        </script>
}
